
.primeiraclasse{ 
    display: flex;
    flex-direction: row;


}

.paragrafo{ 
    font-size: 17px;



}
li{
    font-size: 17px;
}
img{
    height: 300px;
    display: flex;
    margin-left: 600px;
    margin-bottom: auto;
    

}
form{
    margin-left: 600px;
}


body{
    background-image: url("../fotodefundo2.webp");
    
}
